html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Inter', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.App-header{
    .header{padding: 15px;position: fixed;top: 0;width: 100%;    background-color: #bfa72c;color: #fff;
        h2{margin: 0; padding: 5px;}
    }
    .common{height: calc(100vh - 80px);display: flex;flex-direction: column; align-items: center;justify-content: center; font-size: 16px;color: #000;
        .chart{background-color: #f5e4a529;padding: 25px;
        .apexcharts-toolbar{
            .apexcharts-zoom-icon{display: none;}
        }
    }
    }
    .bitcoin-common {margin-top: 80px;display: flex; flex-wrap: wrap; padding: 35px 0px; margin: 80px;justify-content: center;align-items: center;
        .bitcoin{padding: 10px 20px;background-color: #bfa73740; margin: 10px; width: 8%; text-align: center;border-radius: 5px;}
            button{ padding: 10px;width: 100px;color: #fff; background-color: #0e2b7a; border-radius: 6px;cursor: pointer;}
    }
}